#parentDiv {
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255,1);
    width: 100%;
    margin-top: 81px;
}
.inner-menu-item i {
    color: #000B76;
    font-size: 40px;
    min-height: 65px;
    padding: 10px;
    max-height: 65px;
    line-height: 62px;
}
.rs-banner-section2 img {
    width: 100%;
}
/*news details page*/
.pdf-file-content{
    border: 1px solid #ddd;
    margin-bottom: 50px;
}
.news-datetime {
    color: #222;
}
/*end news details page*/

.content-img-title-short-des {
    display: block;
    margin: 15px 0;
    padding: 10px 15px;
    border: 1px dashed;
    border-radius: 10px;
}
.content-img-title-short-des:hover {
    box-shadow: 0 0 10px rgb(0 11 118 / 20%);
    border: 1px solid transparent;
}
.content-img-title-short-des h4 {
    color: #000B76;
}
.content-img-title-short-des p {
    line-height: 18px;
    font-size: 14px;
    color:                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      #666
}
.collapse-area .card-header {
    background: #000B76;
    color: #fff;
}
.collapse-area .card-header {
    background: #000B76;
    color: #fff;
    position: relative;
}
/*.collapse-area .card-header::after {*/
/*    content: '+';*/
/*    position: absolute;*/
/*    right: 10px;*/
/*    top: 10px;*/
/*}*/
/*.collapse-area .card-header.collapsed::after {*/
/*    content: '-';*/
/*}*/
.collapse-area h3::after {
    content: '-';
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
    line-height: 20px;
}
.collapse-area .card-header h3.collapsed::after {
    content: '+';
    font-size: 18px;
}
.collapse-area h3 {
    color: #fff;
}
.collapse-area .card-body {
    color: #000;
}
.not-home-page .tab-content {
    padding: 15px 0;
}
.not-home-page .nav-tabs {
    border-bottom: 1px solid #000B76;
}
.not-home-page #myTab .nav-link {
    font-size: 14px;
    border-bottom: 1px solid #000B76;
    background: #fff;
    display: inline-block;
    padding: 0 35px;
    height: 45px;
    line-height: 45px;
    position: relative;
    color: #000B76;
    -webkit-transition: .4s;
    transition: .4s;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}
#myTab .nav-link.active {
    background: #000B76;
    color: #fff;
}
.user-short-profile p {
    margin: 0;
}
.course-list .list-group-item.active {
    background-color: #000B76;
    border-color: #000B76;
}
.vc-msg-area > h4 {
    padding: 15px 0;
}
.vc-msg img {
    float: left;
    padding: 0 15px 15px 0;
}
.user-short-profile.usp-vertical-img .content-img-title-short-des {
    border-color: transparent;
}
.user-short-profile.usp-vertical-img p {
    font-size: 12px;
    min-height: 54px;
}

.tab-pane .table a {
    font-size: 14px;
}